@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

body{
  background-color: #F4F4F4;
}

*{
  margin: 0px;
}

.btn {
  cursor: pointer;
}